#main-title {
  color: rgb(67, 4, 144);
  font-size: 60px;
  text-align: center;
}

.content {
  background-color: rgb(69, 148, 85);
}

article h3 {
  color: rgb(110, 36, 79);
  font-size: 32px;
  text-align: center;

}

p {
  color: rgb(27, 48, 33);
}
